.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  /* background-color: white; */
  /* box-shadow: 50px; */
}

.modal-contents {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: blue;
  padding: 30px;
  text-align: center;
}

label {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
input {
  width: 25vw;
}

.pass_message {
  font-size: 10px;
  color: gray;
}
