* {
  margin: 0;
  padding: 0;
}

.link {
  font-size: 5px;
  color: white;
  padding: 10px 10px;
}
.sidebar-container {
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
