* {
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
    .notification {
        display: flex;
    }
}

.rightside-container {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  display: flex;
  align-items: center;
  height: 100vh;
  /* width: 100%; */
}

.nav-icons {
  float: right;
  display: flex;
  margin-right: 2rem;
  position: relative;
  bottom: 2.5rem;
  color: black;
}

.logout{
  color: black;
}


.right-container{
  max-width: 24rem;
  /* margin-top: 2rem; */
}

.mapoly-container {
   --tw-bg-opacity: 1;
   --tw-text-opacity: 1;
  background-color: rgba(16, 39, 124, var(--tw-bg-opacity));
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  border-radius: 0.375rem/* 6px */;
  padding: 0.75rem/* 12px */;
  margin-left: 0.5rem; 
  margin-right: 0.5rem;
}

.logo-text {
  display: flex;
  flex-direction: row;
  position: relative;

}

.logo-text > img {
  width: 4rem;
  height: 4rem;
  /* object-fit: cover; */
  padding-top: 0.5rem;
}
.logo-text > h2 {
  font-size: 1rem/* 16px */;
  line-height: 1.5rem/* 24px */;
  color: white;
  padding-left: 0.5rem;
  text-align: left;
}


.links{
  margin-left: 10px;
}

.link-text {
  color: white;
}
p {
  margin-bottom: 0;
  /* padding-left: 5px; */
  color: white;
}

.last-item {
  margin-bottom: 1rem;
}
span {
  padding-left: 10px;
}
.mapolyLinks {
  display: contents;
  color: white;
}

.react-calendar {
  padding: 0.75rem/* 12px */;
  margin-left: 0.5rem; 
  margin-right: 0.5rem;
  margin-top: 1.5rem;

}
.react-calendar__navigation {
  height: 0px;
  margin-bottom: 2em;
}

.quicklink-header {
  color: black;
  text-align: center;
  font-size: 10px;
  padding-top: 5px;
}

.react-calendar__navigation button {
  min-width: 14px;
}
.quicklink {
    padding: 0.75rem/* 12px */;
  margin-left: 0.5rem; 
  margin-right: 0.5rem;
  margin-top: 1.5rem;
}
.quicklinks {
  color: black;
  padding-left: 10px;
}
