.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  /* background-color: white; */
  /* box-shadow: 50px; */
}

.modal-contents {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

h2 {
  color: blue;
  padding: 30px;
  text-align: center;
}

label {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
input {
  width: 25vw;
}

p {
  font-size: 10px;
  color: gray;
}
