* {
  padding: 0;
  margin: 0;
}



.program-container {
  display: flex;
  flex-direction: row;
}

.center-view {
  border-radius: 25px;
  margin-left: 6rem;
  font-size: 10px;
  width: 75%;
  height: 100vh;
}
.heading{
  display: flex;
  justify-content: space-between;
}

.text-container{
  background-color: none;
}

.faculty-text {
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 1rem

}

.addNew {
  margin-right: 25px;
  padding: 0px;
  margin-top: 1rem
}

.btn{
  background-color: blue;
  margin-right: 10px;
  width: 4.5rem;
  height: 2.0rem;
  /* font-size: 1.5rem; */
}

.select{
  
  font-size: 1rem;
  height: 2.0rem;
}



.program-table {
  padding: 15px;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid black;
  overflow-x: auto; 
  border-color: #E5E7EB; 
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
  height: 80vh;
  overflow: hidden;
}

.table{
  font-size: 1rem;
  line-height: 1.5rem; 
  width: 100%; 
  height: 90%;
  border-width: 1px; 
  grid-column: span 12 / span 12; 

}
.table-header{
  background-color: #FEF3C7; 
drop-shadow: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08)); 

}
.header-data{
  font-weight: 600; 
  text-align: left; 
}

.tbody-row{
  text-align: left; 
}
.tbody-row:nth-child(odd){
  background-color: #F9FAFB; 
}



.tbody-row:hover{
  background-color: #F9FAFB;  
}

.view-link {
  padding-right: 5px;
  border-right: groove;
  text-decoration: none;
}
.edit-link {
  padding-left: 5px;
  text-decoration: none;
}

.page-numbers {
  display: flex;
  justify-content: flex-end;
}

.code {
  display: flex;
}

.input {
  margin-left: 10px;
}

.save-btn {
  position: relative;
  left: 300px;
}
.btn {
  padding: 0;
}
.save-btn,
.cancel-btn:hover {
  background-color: blue;
}

.file-upload {
  position: relative;
  top: 52px;
}

.right-sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: lightgray;
}

.quicklink {
  background-color: white;
  display: block;
}
p {
  color: blue;
  font-size: 20px;
  font-weight: 500;
}

.form-select {
  padding: 0;
  margin-bottom: 20px;
}
